body, html {
   margin: 0;
   padding: 0;
   height: 100%;
   position: relative;
}

.bg-img {
   border: 0;
   padding: 0;
   min-height: 100%;
   background: #FF7D8E;
   background-position: center;
   background-size: cover;
}

#dialog-info {
   position: fixed;
   left: 0;
   top: 0;
   width: 310px;
   height: 170px;
   z-index: 1100;
   background: white;
   text-align: center;
}

#result-main {
   color: rgba(0,0,0,0.8);
   font-size: 18px;
   font-weight: bold;
   padding: 0 15px;
   margin-top: 5px;
}
#go-back-main {
   position: absolute;
   top: 95px;
   left: 11%;
   padding: 15px 20px;
   font-size: 20px;
   font-weight: bold;
   border: 0;
   background-color: #FF7D8E;
   color: white;
   border-radius: 10px;
}

#go-back-main:hover {
   cursor: pointer;
   opacity: 0.7;
}
#dialog {
   position: fixed;
   left: 0;
   top: 0;
   width: 470px;
   height: 100%;
   z-index: 1000;
   background: white;
}

.bs-name {
   display: flex;
   align-items: center;
   justify-content: space-between;
   color: white;
   font-size: 20px;
   font-weight: bold;
   background: #FF7D8E;
   padding: 15px;
}

.dialog-close {
	color: rgba(240,240,240,1);
}
.dialog-close:hover {
	cursor: pointer;
}

#result {
   color: rgba(0,0,0,0.8);
   font-size: 18px;
   font-weight: bold;
   padding: 0 15px;
}

.customoverlay:hover {
   cursor: pointer;
}

#type, #address, #salary, #deadline, #inquiry_phone {
   color: rgba(0,0,0,0.8);
   font-size: 18px;
   margin-top: 20px;
   padding: 0 15px;
   font-weight: bold;
}

#inquiry_phone {
   color: #FF0A3F;
}

#go-back {
   position: fixed;
   top: 550px;
   left: 8%;
   padding: 15px 20px;
   font-size: 20px;
   font-weight: bold;
   border: 0;
   background-color: #FF7D8E;
   color: white;
   border-radius: 10px;
}

#go-back:hover {
   cursor: pointer;
   opacity: 0.7;
}

#call {
   margin-top: 60px;
   margin-left: 5px;
   text-align: center;
   width: 430px;
   padding: 15px;
   border-top: 3px solid #FF7D8E;
   border-bottom: 3px solid #FF7D8E;
   display: none;
}

#call-img {
   width: 100%;
   height: 130px;
}